.ant-carousel .slick-slide {
    text-align: center;
    height: 550px;
    line-height: 500px;
    background-color: rgba(33, 102, 230, 0.671);
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }


